body{
    font-family: Roboto;
    display:flex;
    flex-direction: column;
    margin:0;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
}

ul{
    padding:0;
    margin:0;
    list-style-type: none;
}

.hlogo{
    display:flex;
    flex:auto;
    flex-wrap: wrap;
    align-items: center;
}
.hlogo img{
    max-width: 400px;
    padding-left: 16px;
}

nav {
    display:flex;
    flex:auto;
    flex-wrap: wrap;

    gap:16px;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172a;

}
nav ul{
    display:flex;
    margin-left: auto;

}

nav li{
    display:flex;
    padding:2em;
    gap:2em;
    font-size: 18px;
}
nav li a{
    color: #e5e7eb;
}

.first{
    display:flex;
    background-color: #0f172a;
    flex:auto;
    flex-wrap: wrap;
    justify-content: space-around;
}
.first img{
    display:flex;
    flex:auto;
    max-width:300px;
    border-radius: 100px;
    padding:16px;
    margin:16px;
    margin-left:auto;
}

.textbox{
    display:flex;
    flex-direction: column;
    padding:16px;
    margin-left:16px;
    margin-right:auto;
    gap:16px;

}

.header{
    display:flex;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    
}

.textbox .speech{
    display:flex;
    font-size:18px;
    color:#E5E7EB;
}
.speech{
    flex-direction: column;
    gap:8px;
}
.speech .smallertext{
    font-size: 16px;
}
.content{
    display:flex;
    flex:auto;
    align-items: center;
    gap:16px;
    padding-bottom: 10px;
}
.buttons{
    display:flex;
    flex:auto;
    flex-shrink: 0;
}
button.signup{
    display:flex;
    flex: 0 0 1;
    background-color: #3882f6;
    border:0px;
    border-radius: 5px;

}

button a{
    text-decoration: none;
    color:#E5E7EB;
    font-weight: bold;
    padding: 5px 20px;

}




.second{
    display:flex;
    flex-direction: column;
    background-color: white;
    flex:auto;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.header2{
    display:flex;
}

h2.header{
    font-size:36px;
    font-weight: 900;
    color:#1F2937;
}


.cards{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imgcard{
    display:flex;
    flex-direction: column;
    max-width: 180px;
    padding: 32px;
    gap:8px;
    align-items: center;
}

.imgcard img{
    display:flex;
    border:8px solid #3882f6;
    border-radius: 16px;
    max-width: 180px;

}

.imgcard .text{
    text-align: center;
    color: #58616f;
}


.third {
    display:flex;
    flex-direction: column;
    background-color:#E5E7EB;
    flex:auto;
    justify-content: space-around;
}

.quotebox{
    display:flex;
    flex-direction: column;
    padding:64px;
    flex:auto;
    gap:16px;
}

.quote{
    font-size:36px;
    font-style: italic;
    font-weight: lighter;
}

.quotesayer{
    margin-left:auto;
    padding-right:8px;
    font-weight: bold;
}

.fourth{
    display:flex;
    flex-direction: column;
    background-color: white;
    flex:auto;
    justify-content: center;
    align-items: stretch;
    flex-wrap: wrap;
    padding:32px;
    margin:64px;
}

.fourth .box{
    display:flex;
    flex-direction: row;
    background-color:#3882f6;
    padding:12px;
    border-radius: 10px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin:

}

.signupbox{
    display:flex;
    flex-wrap: wrap;
    padding:20px;
    
}

.textinsign{
    display:flex;
    flex:auto;
    flex-direction: column;
    justify-items: center;
    color:white;
    gap:5px;
}


.headerinsign{
    font-weight: bold;
    font-size: 24px;
}

.box button {
    display:flex;
    border: solid white;
    align-items: center;
}

.footer{
    display:flex;
    flex-direction: column;
    background-color: #0f172a;
    align-items: center;
}

.footertext{
    color:#F9FAF8;
    padding:32px;
}

